<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Information</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
      }
      header {
        text-align: center;
        padding: 25px;
        font-size: 34px;
        background-color: rgb(79, 79, 255);
        color: white;
        font-weight: 600;
      }
      .navbar {
        display: flex;
        justify-content: center;
        background-color: #333;
        overflow: hidden;
        padding: 10px;
      }

      .navbar a {
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <header>Book Store</header>
    <div class="navbar">
      <a href="/">Home</a>
      <a href="/createBook">Create Book Log</a>
    </div>
  </body>
</html>
